---
import Counter from "../components/Counter.tsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		
		<Counter client:load />
	</body>
</html>
